<div class="container">
  <dx-button
    text="Back to programs"
    icon="back"
    (onClick)="goBack()"
    class="btn-back"
  >
  </dx-button>
  <form (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="program">
      <!-- <dxi-item dataField="programId"></dxi-item> -->
      <dxi-item dataField="programName" [label]="{ text: 'Program name' }">
        <dxi-validation-rule
          type="required"
          message="Program name is required"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="programType"
        editorType="dxSelectBox"
        [label]="{ text: 'Program type' }"
        [editorOptions]="{
          width: '40%',
          items: programType,
          searchEnabled: true,
          placeholder: 'Select a program type'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="Program type is required"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="about"
        [label]="{ text: 'About this program' }"
        editorType="dxTextArea"
        [editorOptions]="{
          height: 200,
          placeholder: 'A summary or description of the program'
        }"
        (onChange)="aboutFieldChange($event)"
        class="about"
      >
        <dxi-validation-rule
          type="required"
          message="About this program is required"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="oganization"
        editorType="dxSelectBox"
        [label]="{ text: 'Ognization name' }"
        [editorOptions]="{
          width: '40%',
          items: oganizationName,
          placeholder: 'Select a oganization'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="Ognization name is required"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="website" [label]="{ text: 'Website' }">
        <dx-text-box [(value)]="program.website"></dx-text-box>
        <p style="color: #727272">Enter in the URL to this program</p>
        <dxi-validation-rule
          type="required"
          message="Ognization name is required"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="level"
        editorType="dxSelectBox"
        [label]="{ text: 'Program level' }"
        [editorOptions]="{
          items: programLevels,
          width: '40%',
          placeholder: 'Select a level'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="Program level is required"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="ageGroup"
        editorType="dxRangeSlider"
        [label]="{ text: 'Age group' }"
        [editorOptions]="{
          width: '40%',
          start: 10,
          end: 55,
          min: 0,
          max: 60,
          tooltip: tooltip
        }"
      >
        <dxi-validation-rule
          type="required"
          message="Age group is required"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="carrer"
        editorType="dxSelectBox"
        [label]="{ text: 'Carrer pathway (Optional) ' }"
        [editorOptions]="{
          width: '40%',
          items: programCarrer,
          placeholder: 'Select a industry'
        }"
      >
      </dxi-item>

      <dxi-item
        itemType="group"
        [colCount]="5"
        [label]="{ text: 'Program Length (Optional)' }"
        class="program-length"
      >
        <dxi-item
          dataField="programLength.num"
          editorType="dxSelectBox"
          [colSpan]="1"
          [label]="{ visible: false }"
          [editorOptions]="{ items: programLengthNum }"
        >
        </dxi-item>
        <dxi-item
          dataField="programLength.name"
          editorType="dxSelectBox"
          [colSpan]="1"
          [label]="{ visible: false }"
          [editorOptions]="{ items: programLengthName }"
        >
        </dxi-item>
      </dxi-item>

      <dxi-item
        [label]="{ text: 'Learning method' }"
        itemType="group"
        [colCount]="2"
        cssClass="learning-method"
      >
        <dxi-item
          dataField="learningMethod.name"
          editorType="dxRadioGroup"
          [label]="{ visible: false }"
          [colSpan]="1"
          [editorOptions]="{ dataSource: learningMethodRadio, value: 'Hybird' }"
        >
        </dxi-item>
        <dxi-item
          dataField="learningMethod.address"
          [colSpan]="1"
          [label]="{ visible: false }"
          [editorOptions]="{ items: programLengthName, placeholder: 'Address' }"
        >
          <dxi-validation-rule
            type="required"
            message="Address is required"
          ></dxi-validation-rule>
        </dxi-item>
        <!-- <dxi-validation-rule
        type="required"
        message="Age group is required"
      ></dxi-validation-rule> -->
      </dxi-item>

      <dxi-item
        [label]="{ text: 'Skill' }"
        itemType="group"
        cssClass="program-skill"
        [colCount]="7"
      >
        <dxi-item
          dataField="skill.type"
          [label]="{ visible: false }"
          [editorOptions]="{
            placeholder: 'Type a skill'
          }"
          [colSpan]="4"
        >
          <dxi-validation-rule
            type="required"
            message="Skill is required"
          ></dxi-validation-rule>
        </dxi-item>
        <dxi-item
          dataField="skill.level"
          [label]="{ visible: false }"
          editorType="dxSelectBox"
          [editorOptions]="{
            items: programLengthNum,
            placeholder: 'Select level'
          }"
          [colSpan]="2"
        >
          <dxi-validation-rule
            type="required"
            message="Skill is required"
          ></dxi-validation-rule>
        </dxi-item>
        <dxi-item
          itemType="button"
          horizontalAlignment="left"
          [colSpan]="1"
          [buttonOptions]="{
            text: 'Add',
            type: 'success',
            useSubmitBehavior: true
          }"
          (onClick)="addProgram()"
        >
        </dxi-item>
        <!-- <dx-text-box
        [(value)]="program.skill.type"
        style="width: 60%"
      ></dx-text-box>
      <dx-select-box
        [items]="programLengthNum"
        [(value)]="program.skill.level"
        style="width: 20%"
      ></dx-select-box>
      <dx-button text="Add" type="success" (onClick)="addProgram()"></dx-button> -->
      </dxi-item>
      <!-- <dxi-item dataField="Notes" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 140 }"></dxi-item> -->
    </dx-form>
  </form>

  <div class="offering" (click)="openAddOfferingPopup()">
    <h2>Program Offerings</h2>
    <hr />
    <div class="add-offering">
      <span class="add-offering__border">
        <i class="dx-icon-add"></i>
      </span>
      <p>Add offering</p>
    </div>
  </div>

  <div class="actions">
    <div>
      <dx-button text="Cancel"></dx-button>
    </div>
    <div>
      <dx-button text="Preview"></dx-button>
      <dx-button text="Save for later"></dx-button>
      <dx-button text="Publish" type="success" class="btn-publish"></dx-button>
    </div>
  </div>

  <app-add-offering-popup
    [popupVisible]="popupVisible"
    (closePopup)="closePopupHandler($event)"
  ></app-add-offering-popup>
</div>
